= form_tag spreedsheets_import_path,  multipart: true do
  .row
    .col.s12
      .file-field.input-field.center
        .btn
          %span File
          = file_field_tag :file
        .file-path-wrapper
          = text_field_tag '', '',  { class: 'file-path validate' }
  .row
    .col.s12
      .input_field.center
        = submit_tag 'import', { class: 'btn' }
